# add __pycache__ to .gitignore
__pycache__/

# add data/ to .gitignore
data/*

.dvc/

# add src/__pycache__ to .gitignore
src/__pycache__/
src/data/__pycache__/
src/models/__pycache__/
src/monitoring/__pycache__/

.dvcignore

venv/

secret.json
research-paper-rag-0a8819b735b9.json

Working/